<% if object.errors.any? %>
    <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(object.errors.count, "Erreur empeche", "Erreurs empèchent") %>
            empèche ce mail d'être expédié</h3>
        </div>
        <div class="panel-body">
          <p>Le problème vient <%= pluralize(object.errors.count, "du champ :", "des champs suivant :") %> </p>
          <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    </div>
<% end %>