
        <b>De: </b><%= @mail.from  %> <br>
        <b>Subject : </b><%= @mail.subject  %><br>
        <b>Date  :</b><%= @mail.date %><br><br>
        <p class="textemail"><b>Message : </b><br><%= @mail.body  %> </p>



